@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
/* Functional Color Mapping */
  --color-header: #023047;     /* Deep Space Blue */
  --color-header2:#054667;
  --color-background: #8ECAE6;         /* Sky Blue (Light) */
  --color-text-body: #ffffff;      /* Recommended white/light for readability on deep background */
  --color-button-bg: #FB8500;      /* Princeton Orange */
  --color-button-text: #023047;    /* Deep Space Blue for contrast */
  --color-callout: #FFB703;        /* Amber Flame */
  --color-subheading: #219EBC;     /* Blue Green */

  /* Fluid Typography Variables */
  --text-hero: clamp(1rem, 3.5vw + 1rem, 5rem);       /* Big Hero Callouts */
  --text-heading: clamp(.5rem, 2vw + 1rem, 2.5rem);  /* H1/H2 Headings */
  --text-subheading: clamp(.5rem, 1vw + 0.5rem, 1rem); /* Subheadings */
  --text-body: clamp(1rem, 1vw + 0.5rem, 1.25rem);  /* Normal Texts */
  --text-button: clamp(0.875rem, 0.5vw + 0.5rem, 1rem); /* Buttons */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  box-sizing: border-box;
  background: var(--background);
  /* color: #054667; */
  font-family: Arial, Helvetica, sans-serif;
}
